.weather-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    
}

